<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>capacidad</key>
		<string>16GB</string>
		<key>precio</key>
		<integer>199</integer>
		<key>tipo</key>
		<string>touch</string>
		<key>urlFoto</key>
		<string>http://store.storeimages.cdn-apple.com/4428/as-images.apple.com/is/image/AppleInc/aos/published/images/i/po/ipod/touch/ipod-touch-compare-hero-2014?wid=121&amp;hei=125&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1411109329816</string>
	</dict>
	<dict>
		<key>capacidad</key>
		<string>2GB</string>
		<key>precio</key>
		<integer>49</integer>
		<key>tipo</key>
		<string>shuffle</string>
		<key>urlFoto</key>
		<string>http://store.storeimages.cdn-apple.com/4428/as-images.apple.com/is/image/AppleInc/aos/published/images/i/po/ipod/shuffle/ipod-shuffle-compare-hero-2014?wid=117&amp;hei=125&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1403780676099</string>
	</dict>
	<dict>
		<key>capacidad</key>
		<string>16GB</string>
		<key>precio</key>
		<integer>149</integer>
		<key>tipo</key>
		<string>nano</string>
		<key>urlFoto</key>
		<string>http://store.storeimages.cdn-apple.com/4428/as-images.apple.com/is/image/AppleInc/aos/published/images/i/po/ipod/nano/ipod-nano-compare-hero-2014?wid=96&amp;hei=125&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1403780672298</string>
	</dict>
	<dict>
		<key>capacidad</key>
		<string>32GB</string>
		<key>precio</key>
		<integer>249</integer>
		<key>tipo</key>
		<string>touch</string>
		<key>urlFoto</key>
		<string>http://store.storeimages.cdn-apple.com/4428/as-images.apple.com/is/image/AppleInc/aos/published/images/i/po/ipod/touch/ipod-touch-compare-hero-2014?wid=121&amp;hei=125&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1411109329816</string>
	</dict>
	<dict>
		<key>capacidad</key>
		<string>64GB</string>
		<key>precio</key>
		<integer>299</integer>
		<key>tipo</key>
		<string>touch</string>
		<key>urlFoto</key>
		<string>http://store.storeimages.cdn-apple.com/4428/as-images.apple.com/is/image/AppleInc/aos/published/images/i/po/ipod/touch/ipod-touch-compare-hero-2014?wid=121&amp;hei=125&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1411109329816</string>
	</dict>
</array>
</plist>
